<% provide(:title, 'Sign up') %>
<div class="left">
	<p>Sign up</p>
</div>

<div class="container">
	<div class="row">
		<div class="col-xs-6">
			<%= form_for(@user) do |f| %>
			<%= render 'shared/error_messages' %>

			<%= f.label :name %></br>
			<%= f.text_field :name %></br>

			<%= f.label :email %></br>
			<%= f.text_field :email %></br>

			<%= f.label :password %></br>
			<%= f.password_field :password %></br>

			<%= f.label :password_confirmation, "Confirmation" %></br>
			<%= f.password_field :password_confirmation %></br>

			<%= f.submit "Create my account", class: "btn btn-large btn-primary" %>
			<% end %>
		</div>
	</div>
</div>
